.productPageHeader {
  grid-column: 2/-1;
  grid-row: 1/2;
  padding: var(--spacing-md) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sortBy {
  position: relative;
}
.sortBy img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: auto;
  z-index: 100;
}
.sortBy select {
  width: 24rem;
}
