.itemPage {
  width: 100%;
  padding: var(--container-padding) var(--row-padding-lg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: var(--spacing-lg);
  height: 100%;
  min-height: 100rem;
  max-height: min-content;
}
