.container {
  width: clamp(32rem, 100%, 42rem);
  height: min-content;
  padding: var(--spacing-md);
  box-shadow: 0 1rem 3rem #00000010;
  background-color: var(--color-white);
  bottom: -7rem;
  right: 1.5rem;
  position: absolute;
}
.emptyBasket {
  width: clamp(32rem, 100%, 42rem);
  height: 5.5rem;
  padding: var(--spacing-md);
  box-shadow: 0 1rem 3rem #00000010;
  background-color: var(--color-white);
  top: 120%;
  right: 1.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emptyBasket h1 {
  font-size: var(--font-s-md);
}

/* basket with item */

.basket {
  width: 100%;
  min-width: 32rem;
  max-width: 42rem;
  height: min-content;
  padding: var(--spacing-md);
  box-shadow: 0 1rem 3rem #00000050;
  background-color: var(--color-white);
  top: 120%;
  right: 1.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-md);
}

.listItem,
.subTotal {
  flex: 1;
}
.listItem {
  padding: var(--spacing-md) 0;
}

.subTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTotal__title {
  font-size: var(--font-s-lg);
}

.subTotal__number {
  font-size: var(--font-s-lg);
}
.subFooter {
  width: 100%;
  padding: 0 var(--spacing-xl);
  text-align: center;
  font-size: var(--font-s-sm);
  opacity: 0.75;
}
