.loadingFullView {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  position: fixed;
  z-index: 500;
  margin: 5.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
  backdrop-filter: blur(100px);
}

.loadingFullView h2 {
  color: var(--color-text-black);
}

.loader {
  width: 20rem;
  height: 3.6rem;
  display: inline-block;
  background-color: transparent;
  border: 0.2rem solid #00deb0;
  box-shadow: inset 0 0rem 1rem #9ae9d999;
  border-radius: 4px;
  background: linear-gradient(45deg, transparent 49%, #00deb0 50%, #00deb0 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, #00deb0 50%, #00deb0 50%, transparent 51%, transparent);
  font-size: 15px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 0.3s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
