/* navbar sections */
.navigation {
  width: 100%;
  width: 168rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.navbar__brand img {
  width: 90%;
}

.navbar__links {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 1;
}

.navbar__siteItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--spacing-md);
  flex: 1;
}
.navbar__siteItem img {
  width: 24px;
  height: auto;
}

/* search container */

/* navbar brand */

/* navbar links */

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem {
  height: 100%;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.15s;
}
.listItem:hover {
  border-bottom: 2px solid var(--color-green);
}
.listItem::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: var(--border-circle);
  top: 1.5rem;
  right: 0.8rem;
  position: absolute;
  background-color: var(--color-green);
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  font-size: var(--font-s-sm);
  font-weight: 700;
}
/* navbar siteItem */

.searchTrigger {
  background-color: transparent;
  padding: 0;
}

.basketTrigger {
  background-color: transparent;
  padding: 0 !important;
}
