.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: var(--spacing-md);
  max-width: 168rem;
  padding: 0 var(--spacing-md);
}
.searchInput {
  height: 4rem !important;
  border-radius: var(--border-circle);
  width: 100%;
  z-index: 400;
}

.searchInput::placeholder {
  opacity: 50%;
}

.BtnSearch {
  background-color: transparent !important;
  padding: 0;
  z-index: 500;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(-140%, -50%);
  border-left: 1px solid var(--color-border);
  border-radius: 0;
  padding: 0 var(--spacing-sm);
}

.BtnSearch img {
  width: 2rem;
  height: auto;
}
.BtnCLose {
  background-color: transparent !important;
  padding: 0;
}

.BtnCLose img {
  width: 3.2rem;
  height: auto;
}
