/* Close Button */
.closeButton {
  padding: var(--spacing-sm);
  background-color: transparent;
}
.closeButton img {
  width: 32px;
  height: auto;
}

/* Primary Button */
.primaryButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  height: 5.6rem;
}

/* Outline Button */
.outlineButton {
  background-color: transparent;
  border: 2px solid var(--color-btn);
  height: 5.6rem;
  gap: var(--spacing-sm);
}
.outlineButton img {
  width: 24px;
  height: auto;
}
