/* Close Button */
.closeButton {
  padding: var(--spacing-sm);
  background-color: transparent;
}
.closeButton img {
  width: 32px;
  height: auto;
}

/* Primary Button */
.primaryButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  height: 5.2rem;
}
