/* Close Button */
.closeButton {
  padding: var(--spacing-sm);
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.closeButton img {
  width: 3.2rem;
  height: auto;
}

/* Primary Button */
.primaryButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  height: 5.6rem;
  gap: var(--spacing-sm);
}
.primaryBtn:disabled {
  background-color: red !important;
}

.primaryButton:hover {
  opacity: 0.9;
}

/* Outline Button */
.outlineButton {
  background-color: transparent;
  border: 0.2rem solid var(--color-btn);
  height: 5.6rem;
  gap: var(--spacing-sm);
}
.outlineButton img {
  width: 2.4rem;
  height: auto;
}

.outlineButton:hover {
  opacity: 0.7;
}
