:root {
  --color-red-shade: #f9350d;
  --color-red-tint: #fc947f;
  --color-red: #fa5838;
  --color-green-shade: #03c9a0;
  --color-green-tint: #9ae9d9;
  --color-green: #00deb0;
  --color-orange-shade: #edae00;
  --color-orange-tint: #ffd86d;
  --color-orange: #ffbd00;

  --color-border: #acacac;

  --color-btn: #121212;
  --color-text-black: #1d1d1f;
  --color-text-gray: #787878;

  --color-badge: #d4d4d4;
  --color-white: #ffffff;

  --color-bg-gray: #f1f1f5;

  --border-r: 1.4rem;
  --border-r-select: 0.6rem;
  --border-circle: 999px;

  --font-s-xs: 1.4rem;
  --font-s-sm: 1.6rem;
  --font-s-md: 1.8rem;
  --font-s-lg: 2rem;
  --font-s-xl: 2.8rem;
  --font-s-xxl: 3.6rem;
  --font-s-xxxl: 5.6rem;

  --font-w-400: 400;
  --font-w-500: 500;
  --font-w-600: 600;
  --font-w-700: 700;
  --font-w-800: 800;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 12rem;

  --row-padding-lg: 8vw;
  --row-padding-md: 16vw;
  --container-padding: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* letter-spacing: -0.5px; */
  filter: saturate(90%);
  overflow-x: hidden;
}

body {
  text-rendering: smooth;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.5rem;
  font-weight: 600;
  font-size: var(--font-s-md);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-r);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
button:disabled {
  background-color: var(--color-border) !important;
  cursor: default;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: var(--font-w-800);
  letter-spacing: -0.1rem;
}
hr {
  opacity: 0.3;
}

input {
  height: 5.2rem;
  border-radius: var(--border-r);
  padding: 1.5rem;
  font-size: var(--font-s-lg);
  border: none;
  outline: none;
  border: 2px solid var(--color-border);
  transition: all 0.2s ease-in-out;
}
input:focus {
  border: 2px solid var(--color-green-shade);
}
input::placeholder {
  opacity: 50%;
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
  border-radius: 999px;
}

select {
  height: 4rem;
  border-radius: var(--border-r-select);
  font-size: var(--font-s-xs);
  padding: 0 var(--spacing-sm);
  appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  z-index: 200;
}

/* Breakpoints */

/* 1200px */
@media (min-width: 1200px) {
  /* Large display styles */
}
/* 992px 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Desktop styles */
  html {
    font-size: 56.25%;
  }
}

/* 768px 991px */
@media (min-width: 768px) and (max-width: 991px) {
  /* Tablet styles */
  html {
    font-size: 50%;
  }
}

/* 576px 767px  */
@media (min-width: 767px) and (max-width: 576px) {
  /* Mobile styles */
  html {
    font-size: 43.75%;
  }
}

/* 575px 32opx */
@media (min-width: 575px) and (max-width: 320px) {
  /* Smaller mobile styles */
}
