.search {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 168rem;
  margin: 0 auto;
  max-height: min-content;
  padding: var(--container-padding) var(--spacing-md);
}
.search__title {
  font-size: var(--font-s-xxl);
}

.search__titleSub {
  font-size: var(--font-s-md);
  color: var(--color-text-gray);
}

.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  /* grid-template-rows: repeat(auto-fill); */

  gap: var(--spacing-md);
  /* padding: var(--spacing-md); */
}

.NotFoundMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* width: 100%; */
  background-color: var(--color-bg-gray);
  padding: var(--spacing-md);
  border-radius: var(--border-r);
  margin: var(--spacing-md) 0;
  display: flex;
}
